<table class="appComponetTable">
  <tr>
    <td class="appComponentFirstThirdCollumn"></td>
    <td class="appComponentSecondCollumn">


  <mat-toolbar class="toolbar" color="primary">
    <button mat-button routerLink="/dashboard" >DASHBOARD</button>
    <button mat-button routerLink="/add" >ADD ITEM</button>
    <button mat-button routerLink="/delete" >DELETE ITEM</button>
    <button mat-button routerLink="/login" class="login" >LOGIN</button>
    <button mat-button routerLink="/help" class="help" >HELP</button>
  </mat-toolbar>


    </td>
    <td class="appComponentFirstThirdCollumn"></td>
  </tr>
</table>
<router-outlet></router-outlet>





